// fonts
$body: 'Dancing Script', cursive;
$headline: 'Abril Fatface', cursive;

//colors

//breakpoints

$screen-md: 1199px;
$screen-sm: 991px; 
$screen-xs: 767px;
$screen-xxs: 480px;

$screen-lg: ($screen-md + 1);